<footer class="footer">
    <div class="container mx-0 w-100" style="max-width: 100%;">
        <div class="row">
            <div class="col-md-6 text-mobile-center">
                <ul class="footer-list">
                    <li>
                        <a href="https://www.instagram.com/mao.arte/" class="social-links insta-link"><i class="fab fa-2x fa-instagram"></i></a>
                        <a href="https://www.behance.net/maoartist" class="social-links behance-link"><i class="fab fa-2x fa-behance"></i></a>
                        <a href="https://www.facebook.com/mao.artes/?ref=br_rs" class="social-links face-link"><i class="fab fa-2x fa-facebook-f"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-mobile-center text-right">
                <span class="allrights allrights-mobile">© Todos os direitos reservados para Mão. Criado por <a href="#">Hasher Inc</a></span>
            </div>
        </div>
    </div>
</footer>
