<header class="main-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand margin-left-brand" href="{{ site.url }}{{ site.baseurl }}"><img class="header-brand-image header-brand-image-mobile" src="{{ 'assets/images/logo/ursonMaoPB2.png' | relative_url }}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" style="justify-content: flex-end" id="navbarSupportedContent">
            <ul class="navbar-nav nav-list center-list-items header-itens-font-size">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Trabalhos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{site.url}}{{site.baseurl}}/ilustracoes">Ilustrações</a>
                        <a class="dropdown-item" href="{{site.url}}{{site.baseurl}}/murais">Graffiti</a>
                        <a class="dropdown-item" href="{{site.url}}{{site.baseurl}}/exposicoes">Exposições</a>
                        <a class="dropdown-item" href="#">Vídeos</a>
                    </div>
                </li>
                <!--<li class="nav-item">
                        <a class="nav-link" href="{{site.url}}{{site.baseurl}}/ilustracoes">Ilustrações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/murais">Grafitti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/exposicoes">Exposições</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{site.url}}{{site.baseurl}}/contato">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
