@font-face {
    font-family: Asap;
    src: url('fonts/Asap/Asap-Regular.ttf');
}

@font-face {
    font-family: Noir;
    src: url('fonts/noir/NoirStd-Regular.ttf');
}

@font-face {
    font-family: Octarine;
    src: url('fonts/OctarineFree/Octarine-Light.otf');
}

$standard-font: Octarine;

main {
    text-transform: uppercase;
}

html, body {
    width: 100%;
    min-height: 100vh;
}

a:visited {
    color: pink;
}

:target {
    font-weight: bold;
    outline: none;
}

.main-header {
    flex: 1;
}

.main-header img {
    width: 4%;
    margin-left: 23%;
}

.main-header ul {
    // width: 40%;
    margin-right: 15%;
    list-style-type: none;
    //align-self: flex-end;
}

.main-header ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.main-header ul li a {
    font-family: $standard-font;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
}

.main-header ul li a:hover {
    color: black;
}

.header-brand-image {
    width: 100% !important;
}

.margin-left-brand {
    margin-left: 8%;
    width: 4%;
}

.padding-murais {
    margin: 4% 1px;
}

.murais {
    //padding-top: 8%;
    background-color: black;
}

.murais h3 {
    font-family: $standard-font;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 55px;
    color: white;
    margin-top: 75px;
}

.murais p {
    width: 100%;
    padding: 0px 15%;
    text-align: justify;
    font-family: $standard-font;
    font-size: 1.2rem;
    //text-align: center;
}

.exposicoes {
    //height: 100vh;
    //padding-top: 75px;
}

.exposicoes h3 {
    font-family: $standard-font;
    font-size: 2.8rem;
    margin-bottom: 55px;
    margin-top: 45px;
    text-align: center;
}

.image-exposicoes p {
    font-family: $standard-font;
    font-size: 2rem;
    text-align: center;
}

.image-exposicoes img {
    width: 65%;
    opacity: 1;
    transition: opacity 0.2s;
}

.image-exposicoes img:hover {
    opacity: 0.7;
}

.sobre {
    width: 100%;
    background-color: black;
}

.sobre p {
    font-family: $standard-font;
    font-size: 1.3rem;
    color: white;
}

.sobre h4 {
    color: white;
    font-family: $standard-font;
    font-size: 2.5rem;
}

.contato {
    padding: 0% 15%;
    height: 100vh;
    display: block !important;
}

.contato h3 {
    text-align: center;
    font-family: $standard-font;
    font-size: 3.5rem;
    margin-bottom: 55px;
    margin-top: 75px;
}

.nav-list li a {
    font-size: 1rem !important;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    padding-bottom: 15px;
}

.footer-list {
    display: inline;
    list-style-type: none;
    padding-left: 0px;
}

.footer-list li a {
    margin: 0px 10px;
}

.allrights {
    font-family: $standard-font;
    font-size: 0.8rem;
    margin-bottom: 8%;
}

.insta-link:hover {
    color: #cd486b;
}

.face-link:hover {
color: #4c68d7;
}

.behance-link:hover {
    color: #0057ff;
}

.header-itens-font-size li a {
    font-size: 0.95rem !important;
}

@media screen and (max-width: 768px) {
    .hidden-desktop {
        display: none;
    }

    .header-brand-image-mobile {
        width: 100% !important;
    }

    .first-image-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75vh;
    }

    .first-image-mobile img {
        width: 90%;
        padding-top: 6%;
    }

    .ilustracao-mobile {
        //align-items: center;
        //margin-top: 3%;
        //height: 100vh;
    }

    .ilustracao-mobile h3 {
        font-family: $standard-font;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 25px;
    }

    .murais-mobile {
        padding-top: 1px;
        background-color: black;
    }

    .murais-mobile h3 {
        margin-top: 45px;
        font-size: 2.5rem;
    }

    .exposicoes-mobile {
        //padding-top: 12%;
    }

    .exposicoes-mobile h3 {
        font-size: 2.5rem;
    }

    .sobre-mobile {
        padding-top: 75px;
        padding-bottom: 75px;
    }

    .sobre-mobile p {
        font-size: 1.3rem;
    }

    .sobre-mobile h3 {
        font-size: 2.8rem;
        color: white !important;
        margin-bottom: 20px;
    }

    .img-sobre-mobile {
        width: 100%;
        margin-bottom: 15px;
    }

    .image-exposicoes-mobile p {
        font-family: $standard-font;
        font-size: 1.8rem;
        text-align: center;
    }

    .image-exposicoes-mobile img {
        width: 65%;
    }

    .allrights-mobile {
        font-size: 0.6rem;
    }

    .text-mobile-center {
        text-align: center !important;
    }

    .margin-left-brand-mobile {
        width: 10%;
    }
}

.social-links {
    color: black;
}

@media screen and (min-width: 768px) {
    .main-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
    }

    .main-wrapper > div {
        flex: 1;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .first-image {
        align-items: center;

    }

    .first-image img {
        width: 65%;
    }

    .ilustracao {
        //align-items: center;
        //margin-top: 3%;
        //height: 100vh;
    }

    .ilustracao h3 {
        margin-top: 75px;
        text-align: center;
        font-family: $standard-font;
        font-size: 2.8rem;
        margin-bottom: 50px;
    }

    .carousel-image {
        width: 65% !important;
    }

    .container-fluid-desktop {
        padding: 0px 5% !important;
    }

    .img-sobre-desktop {
        float: left !important;
        width: 45% !important;
        margin-right: 1%;
        margin-bottom: 1%;
    }

    .sobre {
        padding: 75px 0px;
    }

    .sobre h3 {
        font-size: 2.8rem;
        color: white;
        margin-bottom: 55px;
    }

    .center-list-items {
        margin-right: 24% !important;
        //width: 35% !important;
    }
}