<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="main-wrapper">

    {%- include header.html -%}

    {{ content }}

    </main>

    {%- include footer.html -%}

    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

    <script src="{{ 'assets/js/vegas/vegas.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/scrollreveal-master/dist/scrollreveal.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/masonry.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/javascript.js' | relative_url }}"></script>
  </body>
</html>